<!-- invoice.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <style>
      body {
        margin: 10px;
        color: #333;
        box-sizing: border-box;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        zoom: 0.8;
      }

      h1 {
        color: #333;
        padding-bottom: 10px;
      }

      h2 {
        color: #555;
        border-bottom: 1px solid #ccc;
        padding-bottom: 5px;
        margin-bottom: 15px;
      }

      table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
        border: 1px solid #ddd;
      }

      th,
      td {
        padding: 10px;
        text-align: left;
      }

      th {
        background-color: #f2f2f2;
        font-weight: bold;
      }

      tr:nth-child(even) {
        background-color: #f9f9f9;
      }

      .meta {
        margin-bottom: 30px;
      }

      .total {
        font-weight: bold;
        margin-top: 20px;
        padding-top: 15px;
        border-top: 1px solid #ccc;
      }

      .terms {
        font-size: 0.9em;
        color: #666;
      }

      .company-info {
        margin-bottom: 30px;
      }

      .company-info p {
        margin: 0;
        line-height: 1.4;
      }
    </style>
  </head>
  <body>
    <h1><%= title %></h1>

    <div class="company-info">
      <p><strong><%= entity.org.name %></strong></p>
      <p><%= entity.org.address %></p>
      <p>GST No: <%= entity.org.gstNo %></p>
      <p>PAN No: <%= entity.org.panNo %></p>
    </div>

    <div class="meta">
      <h2><%= partyMetaHeading %></h2>
      <p><strong><%= entity.party.name %></strong></p>
      <% if (entity.party.gstNo) { %>
      <p>GSTIN: <%= entity.party.gstNo %></p>
      <% } %> <% if (entity.party.panNo) { %>
      <p>PAN: <%= entity.party.panNo %></p>
      <% } %>
    </div>

    <div class="meta">
      <h2><%= billMetaHeading %></h2>
      <p>No: <%= entity.num %></p>
      <% if (entity.poNo) { %>
      <p>PO No: <%= entity?.poNo %></p>
      <% } %> <% if (entity.poDate) { %>
      <p>PO Date: <%= new Date(entity?.poDate).toDateString() %></p>
      <% } %>
    </div>

    <table>
      <thead>
        <tr>
          <th>Item</th>
          <th>UM</th>
          <th>GST</th>
          <th>HSN/SAC Code</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <% items.forEach(item => { %>
        <tr>
          <td><%= item.name %></td>
          <td><%= item.um %></td>
          <td><%= item.gst %></td>
          <td><%= item.code %></td>
          <td><%= item.quantity %></td>
          <td><%= item.price %></td>
          <td><%= item.total %></td>
        </tr>
        <% }) %>
      </tbody>
    </table>

    <div class="total">
      <p>Total: <%= total %></p>
      <p>SGST: <%= sgst %></p>
      <p>CGST: <%= cgst %></p>
      <p>IGST: <%= igst %></p>
      <p>Grand Total: <%= grandTotal %></p>
      <p>Amount in words: <%= amountToWords %></p>
    </div>
    <div style="display: -webkit-box">
      <div style="-webkit-box-flex: 6; padding: 5px">
        <% if (bank) { %>
        <div class="bank-details">
          <div>
            <h3>Bank Account Details:</h3>
            <p>Bank Name: <%= bank.name %></p>
            <p>Account Holder: <%= bank.accountHolderName %></p>
            <p>Account Number: <%= bank.accountNo %></p>
            <p>IFSC Code: <%= bank.ifscCode %></p>
          </div>
        </div>
        <% } %>
      </div>
      <div
        style="
          -webkit-box-flex: 6;

          padding: 5px;
        "
      >
        <% if (upiQr) { %>
        <h3>UPI QR Code</h3>
        <img src="<%= upiQr %>" alt="QR Code" width="100" />
        <p>Scan the qr code payment</p>
        <% } %>
      </div>
    </div>
    <h2>Terms & Conditions</h2>
    <p class="terms"><%= entity.terms %></p>
    <div
      style="
        -webkit-box-flex: 4;
        min-height: 150px;
        padding: 5px;
        border: 1px solid black;
        width: 150px;
      "
    >
      <div class="">
        <p>Authorized Signatory</p>
      </div>
    </div>
  </body>
</html>
