<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title><%= title %></title>
  </head>
  <body>
    <h1 class="font-bold text-center text-md">Invoice</h1>
    <header>
      <div class="grid grid-cols-2">
        <div class="grid">
          <div class="border border-1 p-2">
            <h1 class="font-bold text-2xl"><%= invoice.org.name %></h1>
            <p><%= invoice.org.address %></p>
            <p><%= invoice.org.gstNo %></p>
            <p><%= invoice.org.panNo %></p>
          </div>
          <div class="border border-1 p-2">
            <p>Bill to</p>
            <h2 class="font-bold text-capitalize">
              <%= invoice.customer.name %>
            </h2>
            <p><%= invoice.customer.billingAddress %></p>
            <p><%= invoice.customer.gstNo %></p>
            <p><%= invoice.customer.panNo %></p>
          </div>
        </div>
        <div class="grid grid-cols-2 border border-1">
          <div class="p-2 border border-1">
            <p>Invoice No.</p>
            <p class="font-bold"><%= invoice.invoiceNo %></p>
          </div>
          <div class="p-2 border border-1">
            <p>Q. Date.</p>
            <p class="font-bold">
              <%= new Date(invoice.date).toISOString().split("T")[0] %>
            </p>
          </div>
        </div>
      </div>
    </header>
    <main>
      <section class="border border-1">
        <table class="table-auto w-full">
          <thead>
            <tr class="border-1 border">
              <th class="border border-1 p-2">#</th>
              <th class="border border-1 p-2">Item Name</th>
              <th class="border border-1 p-2">Quantity</th>
              <th class="border border-1 p-2">Unit</th>
              <th class="border border-1 p-2">Price/Unit</th>
              <th class="border border-1 p-2">GST</th>
              <th class="border border-1 p-2">Amount</th>
            </tr>
          </thead>
          <tbody>
            <% invoice.items.forEach((invoiceItem, index) => { %>
            <tr class="border-1 border">
              <td class="border border-1 p-2"><%= index+1%></td>
              <td class="border border-1 p-2"><%= invoiceItem.name %></td>
              <td class="text-right border border-1 p-2">
                <%= invoiceItem.quantity %>
              </td>
              <td class="border border-1 p-2"><%= invoiceItem.um %></td>
              <td class="text-right border border-1 p-2">
                <%= invoiceItem.price.toFixed(2) %>
              </td>
              <td class="text-right border border-1 p-2">
                <%= `${(invoiceItem.price * invoiceItem.quantity * (invoiceItem.gst ==
                "none" ? 0 :
                parseFloat(invoiceItem.gst.split(":")[1]))/100).toFixed(2)}
                (${invoiceItem.gst === "none" ? "0%" :
                `${invoiceItem.gst.split(":")[1]}%`})` %>
              </td>
              <td class="text-right border border-1 p-2">
                <%= (invoiceItem.price * invoiceItem.quantity * (100 +
                (invoiceItem.gst === "none" ? 0 :
                parseFloat(invoiceItem.gst.split(":")[1])))/100) %>
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </section>
      <section class="grid grid-cols-2 border border-1">
        <div class="grid"></div>
        <div class="grid border border-1 p-2">
          <div class="grid">
            <p class="font-bold">Amounts</p>
            <div class="grid grid-cols-2">
              <p>Sub-total</p>
              <p>
                <%= invoice.items.reduce((total, invoiceItem)=>invoiceItem.price *
                invoiceItem.quantity, 0) %>
              </p>
            </div>
          </div>
          <div class="grid">
            <div class="grid grid-cols-2">
              <p>Grand Total</p>
              <p><%= grandTotal %></p>
            </div>
          </div>
        </div>
      </section>
      <footer>
        <div class="grid grid-cols-2 border border-1">
          <div class="grid p-2">
            <p class="font-bold">Terms & Conditons</p>
            <p><%= invoice.terms %></p>
          </div>
          <div class="grid h-36 border border-1 p-2">
            <p><%= `For, ${invoice.org.name}` %></p>
          </div>
        </div>
      </footer>
    </main>
  </body>
</html>
