<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= num %></title>
    <style>
      body {
        margin: 1rem;
        padding: 0;
        box-sizing: border-box;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        border: 1px solid black;
        zoom: 0.8;
      }
      .item-table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
      }

      .item-table th,
      .item-table td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
      }

      .item-table th {
        background-color: #f2f2f2;
      }

      .total-table {
        width: 100%;
        border-collapse: collapse;
      }

      .total-table th,
      .total-table td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
      }
    </style>
  </head>
  <body>
    <header style="border-bottom: 1px solid black">
      <div style="margin: auto">
        <h1 style="text-align: center; color: rgb(56, 14, 95)">
          <%= entity.org.name %>
        </h1>
        <div>
          <div
            style="border-right: 1px solid black; border-top: 1px solid black;"
          >
            <p><%= entity.billingAddress %></p>
          </div>
        </div>
      </div>
      <div
        style="
          border-top: 1px solid black;
          display: -webkit-box;
          -webkit-box-align: center;
          padding: 5px;
        "
      >
        <p style="-webkit-box-flex: 1; text-align: center">
          GSTIN: <%= entity.org.gstNo %>
        </p>
        <h2 style="-webkit-box-flex: 1; text-align: center; margin: 0">
          <%= title %>
        </h2>
        <p style="-webkit-box-flex: 1; text-align: center">
          Original for recipient
        </p>
      </div>
      <div style="border-top: 1px solid black; display: -webkit-box">
        <div style="-webkit-box-flex: 6; padding: 5px">
          <h3><%= partyMetaHeading %></h3>
          <p><%= entity.party.name %></p>
          <p><%= entity.billingAddress %></p>
          <% if (entity.party.gstNo) { %>
          <p>GSTIN: <%= entity.party.gstNo %></p>
          <% } %> <% if (entity.party.panNo) { %>
          <p>PAN: <%= entity.party.panNo %></p>
          <% } %>
        </div>
        <div style="-webkit-box-flex: 6; padding: 5px; border-left: 1px solid black;">
          <h3><%= billMetaHeading %></h3>
          <p>Date: <%= entity.date.toDateString() %></p>
          <p>Invoice Number: <%= num %></p>
          <% if (entity.poNo) { %>
          <p>PO No: <%= entity?.poNo %></p>
          <% } %> <% if (entity.poDate) { %>
          <p>PO Date: <%= entity.poDate.toDateString() %></p>
          <% } %>
        </div>
      </div>
    </header>
    <div style="height: 1rem; border-bottom: 1px solid black"></div>
    <main>
      <table>
        <table class="item-table">
          <thead>
            <tr>
              <th>Line no.</th>
              <th>Item</th>
              <th>HSN/SAC Code</th>
              <th>GST</th>
              <th>Qty</th>
              <th>Rate</th>
              <th>Amount</th>
            </tr>
          </thead>
          <tbody>
            <% items.forEach(function(item, index) { %>
            <tr>
              <td><%= index+1 %></td>
              <td><%= item.name %></td>
              <td><%= item.code %></td>
              <td><%= item.gst %></td>
              <td><%= item.quantity %></td>
              <td><%= item.price %></td>
              <td><%= item.total %></td>
            </tr>
            <% }); %>
          </tbody>
          <tfoot>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td style="font-weight: bold">Total</td>
              <td>
                <%= items.reduce((prev, item)=>prev + item.quantity, 0) %>
              </td>
              <td></td>
              <td></td>
            </tr>
          </tfoot>
        </table>

        <div style="display: -webkit-box">
          <% if (bank) { %>
          <div
            style="
              -webkit-box-flex: 4;
              border-top: 1px solid black;
              padding: 5px;
            "
          >
            <div class="bank-details">
              <div>
                <h3>Bank Account Details:</h3>
                <p>Bank Name: <%= bank.name %></p>
                <p>Account Holder: <%= bank.accountHolderName %></p>
                <p>Account Number: <%= bank.accountNo %></p>
                <p>IFSC Code: <%= bank.ifscCode %></p>
              </div>
            </div>
          </div>
          <% } %>
          <div
            style="
              -webkit-box-flex: 4;
              border-top: 1px solid black;
              border-left: 1px solid black;
              padding: 5px;
            "
          >
            <% if (upiQr) { %>
            <h3>UPI QR Code</h3>
            <p>Scan the qr code payment</p>
            <img src="<%= upiQr %>" alt="QR Code" width="100" />
            <% } %>
          </div>
          <div
            style="
              -webkit-box-flex: 4;
              border-left: 1px solid black;
              border-top: 1px solid black;
            "
            class="total-section"
          >
            <table class="total-table">
              <tr>
                <th>Subtotal:</th>
                <td><%= total %></td>
              </tr>
              <tr>
                <th>Discount:</th>
                <td><!-- Add discount amount here --></td>
              </tr>
              <tr>
                <th>SGST:</th>
                <td><%= sgst %></td>
              </tr>
              <tr>
                <th>CGST:</th>
                <td><%= cgst %></td>
              </tr>
              <tr>
                <th>IGST:</th>
                <td><%= igst %></td>
              </tr>
              <tr>
                <th>Grand Total:</th>
                <td><%= grandTotal %></td>
              </tr>
            </table>
          </div>
        </div>
      </table>
      <div style="border-top: 1px solid black; display: -webkit-box">
        <div style="-webkit-box-flex: 8; border-right: 1px solid black">
          <div style="padding: 5px">
            <h4>Terms & Conditions</h4>
            <% entity.terms?.split("\n").forEach(term => { %>
            <p><%= term %></p>
            <% }) %>
          </div>
        </div>
        <div style="-webkit-box-flex: 4; min-height: 150px; padding: 5px">
          <div class="">
            <p>Authorized Signatory</p>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
