<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title><%= title %></title>

    <style>
      /* General Styles */
      body {
        margin: 0;
        line-height: 1;
        color: #333;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        zoom: 0.8;
      }

      .invoice-container {
        margin: 0 auto;
        padding: 3px;
      }

      .company-info {
        text-align: center;
        margin-bottom: 20px;
      }

      .invoice-header {
        margin-bottom: 20px;
      }

      .party-info,
      .shipping-info {
        margin-right: 20px;
        margin-bottom: 20px;
      }

      /* Item Table Styles */
      .item-table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
      }

      .item-table th,
      .item-table td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
      }

      .item-table th {
        background-color: #f2f2f2;
      }

      .total-section {
        margin-bottom: 20px;
      }

      .total-table {
        width: 100%;
        border-collapse: collapse;
      }

      .total-table th,
      .total-table td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
      }
      .invoice-meta-info > div:nth-child(1) {
        -webkit-box-flex: 1;
      }
      .invoice-meta-info > div:nth-child(2) {
        -webkit-box-flex: 1;
      }
      .total-table th {
        background-color: #f2f2f2;
      }

      /* Terms and Bank Details Styles */
      .terms,
      .bank-details {
        margin-bottom: 20px;
      }
      .bank-details {
        display: -webkit-box;
        justify-content: space-between;
      }
      .bank-details > div:nth-child(1) {
        -webkit-box-flex: 1;
      }
      .bank-details > div:nth-child(2) {
        -webkit-box-flex: 1;
      }
      .invoice-head {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
    </style>
  </head>
  <body>
    <div class="invoice-container">
      <div class="company-info">
        <h1><%= entity.org.name %></h1>
        <p><%= entity.org.address %></p>
        <p>GSTIN: <%= entity.org.gstNo %></p>
        <p>PAN: <%= entity.org.panNo %></p>
      </div>
      <div
        class="invoice-meta-info"
        style="
          display: -webkit-box;
          -webkit-box-orient: horizontal;
          -webkit-box-pack: space-between;
        "
      >
        <div class="party-info">
          <h3><%= partyMetaHeading %></h3>
          <p><%= entity.party.name %></p>
          <p><%= entity.billingAddress %></p>
          <% if (entity.party.gstNo) { %>
          <p>GSTIN: <%= entity.party.gstNo %></p>
          <% } %> <% if (entity.party.panNo) { %>
          <p>PAN: <%= entity.party.panNo %></p>
          <% } %>
        </div>
        <div class="invoice-header">
          <h3><%= billMetaHeading %></h3>
          <p>Date: <%= entity.date.toDateString() %></p>
          <p>Number: <%= num %></p>
          <% if (entity.poNo) { %>
          <p>PO No: <%= entity?.poNo %></p>
          <% } %> <% if (entity.poDate) { %>
          <p>PO Date: <%= entity.poDate.toDateString() %></p>
          <% } %>
        </div>
      </div>
      <table class="item-table">
        <thead>
          <tr>
            <th>Line no.</th>
            <th>Item</th>
            <th>UM</th>
            <th>HSN/SAC Code</th>
            <th>GST</th>
            <th>Qty</th>
            <th>Rate</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody>
          <% items.forEach(function(item, index) { %>
          <tr>
            <td><%= index+1 %></td>
            <td><%= item.name %></td>
            <td><%= item.um %></td>
            <td><%= item.code %></td>
            <td><%= item.gst %></td>
            <td><%= item.quantity %></td>
            <td><%= item.price %></td>
            <td><%= item.total %></td>
          </tr>
          <% }); %>
        </tbody>
      </table>

      <div class="total-section">
        <table class="total-table">
          <tr>
            <th>Subtotal:</th>
            <td><%= total %></td>
          </tr>
          <tr>
            <th>SGST:</th>
            <td><%= sgst %></td>
          </tr>
          <tr>
            <th>CGST:</th>
            <td><%= cgst %></td>
          </tr>
          <tr>
            <th>IGST:</th>
            <td><%= igst %></td>
          </tr>
          <tr>
            <th>Grand Total:</th>
            <td><%= grandTotal %></td>
          </tr>
          <tr>
            <th>Amount in words:</th>
            <td><%= amountToWords %></td>
          </tr>
        </table>
      </div>

      <% if (entity.terms) { %>
      <div class="terms">
        <p style="font-weight: bold">Terms and Condtions</p>
        <% entity.terms.split("\n").forEach(term => { %>
        <p><%= term %></p>
        <% }) %>
      </div>
      <% } %> <% if (bank) { %>
      <div class="bank-details">
        <div>
          <h3>Bank Account Details:</h3>
          <p>Bank Name: <%= bank.name %></p>
          <p>Account Holder: <%= bank.accountHolderName %></p>
          <p>Account Number: <%= bank.accountNo %></p>
          <p>IFSC Code: <%= bank.ifscCode %></p>
        </div>
        <div>
          <% if (upiQr) { %>
          <h3>UPI QR Code</h3>
          <img src="<%= upiQr %>" alt="QR Code" width="100" />
          <% } %>
        </div>
      </div>
      <% } %>
    </div>
    <div
      style="
        -webkit-box-flex: 4;
        min-height: 150px;
        padding: 5px;
        border: 1px solid black;
        width: 150px;
      "
    >
      <div class="">
        <p>Authorized Signatory</p>
      </div>
    </div>
  </body>
</html>
